# We installed Django-crispy-forms-tags
# Now let's take a look at how they work here.
# We are gonna use the crispy-tags filter in a django form

{% load crispy_forms_tags %}

	<!--Contact form-->
	<div style="margin:80px">
		<h1>Contact</h1>
		<h4>Contact us directly if you have any questions</h4>
		<p>
			Please write your name, email address and a message below if you have any questions.
			One of our staff members will be happy to contact you directly and answer your questions as soon as possible.
		</p>
		<form method="post">
        {% csrf_token %}
            {{form.first_name|as_crispy_field}}
	         {{form.last_name|as_crispy_field}}
	         {{form.email_address|as_crispy_field}}
	         {{form.comment|as_crispy_field}} <!-- rearrange the order of django fom fields-->
            {{form|crispy}}  <!--Add the |crispy filter to your Django {{form}} variable.-->
              <button type="submit">Submit</button> <!-- submit button-->
		</form>
    </div>
