{% include 'main.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container container-fluid">

    <h1 class="m-5 text-center">Milk Collection status</h1>

        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Farmer</th>
      <th scope="col">Time</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
      <th scope="col">Gross Billing</th>
      <th scope="col">Receipt</th>
    </tr>
  </thead>
        {% if milk_evaluation %}
  <tbody>
{% for evaluation in milk_evaluation %}
    <tr>
      <th scope="row">{{ evaluation.id }}</th >
      <td>{{ evaluation.the_milk.farmer.name }}</td>
      <td>{{ evaluation.the_milk.dateCollected }}</td>
      <td>{{ evaluation.the_milk.quantity }}</td>
      <td>{{ evaluation.the_milk.status}}</td>
      <td>{{ evaluation.calculate_base_amount}}</td>
        <td><a  href="{% url 'milk_detail' evaluation.the_milk.id %}" class="btn btn-primary">Receipt</a></td>
    </tr>
    <tr>
        {% endfor %}
  </tbody>
</table>
    {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h1 class="text-center">No Milk Collection records for {{ request.user }}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

    {% endif %}
      </div>


{% endblock %}