{% include 'main.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container container-fluid">

    <h1 class="m-5 text-center">Milk Collection status</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Farmer</th>
      <th scope="col">Time</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
      <th scope="col">Gross Billing</th>
    </tr>
  </thead>
  <tbody>
{% for evaluation in milk_evaluation %}
    <tr>
      <th scope="row">{{ evaluation.id }}</th >
      <td>{{ evaluation.the_milk.farmer.name }}</td>
      <td>{{ evaluation.the_milk.dateCollected }}</td>
      <td>{{ evaluation.the_milk.quantity }}</td>
      <td>{{ evaluation.the_milk.status}}</td>
      <td>{{ evaluation.calculate_base_amount}}</td>
    </tr>
    <tr>
        {% endfor %}
  </tbody>
</table>
      </div>


{% endblock %}